.heading-border {
  border-bottom-style: double;
  border-color: #0066b3;
  width: 30%;
}

.heading-border-center {
  content: "";
  display: block;
  margin: auto;
  border-bottom: double #0066b3;
  width: 15%;
  text-align: center !important;
}

.text-justify {
  text-align: justify;
}
.color-orange {
  color: #0066b3;
}
.color-black {
  color: #373435 !important;
}
.color-font-grey {
  color: ##404c56;
}
.pt {
  padding-top: 100px;
}
.pb {
  padding-bottom: 100px;
}
.packing tbody tr td {
  width: 200px;
  padding: 10px 5px;
}
.packing tbody tr th {
  background: #f7f7f7;
}
